<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>V Resto Apps</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <nav id="drawer">
        <ul class="nav-list">
            <li class="logo-brand nav-item"><a href="#">VaResto</a></li>
            <li class="nav-item"><a href="#">Beranda</a></li>
            <li class="nav-item"><a href="#">Favorit</a></li>
            <li class="nav-item"><a href="#">Profil</a></li>
        </ul>
    </nav>
    <main>

        
        <!-- mobile responsive  -->
        <center>
            <a id="hamburger" href="#">☰</a>
        </center>
        
        <img class="img-herro" src="./images/heros/hero-image_1.jpg" width="450" alt="">
        
        <div class="container" id="myResto"></div>
    </main>

</body>
</html>
