<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>V Resto Apps</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <nav id="drawer">
        <ul>
            <li><a href="#">Beranda</a></li>
            <li><a href="#">Favorit</a></li>
            <li><a href="#">Profil</a></li>
        </ul>
    </nav>
    <main>

        <!-- mobile responsive  -->
        <a id="hamburger" href="#">☰</a>

        <div class="container" id="myResto"></div>
    </main>

</body>
</html>
