* {
    box-sizing: border-box;
}

html, body {
    /* height: 100%;
    width: 100%; */
    margin: 0;
    padding: 0;
}


.container{
    padding: 15%;
    gap: 10px;
}

img {
    display: block;
    width: 100%;
}

.img-herro {
    height: 100%;
}

.card {
    border: 3px solid black;
    padding: 10px;
    /* margin: 10px; */
}

/* navbar  */

    .logo-brand {
        font-weight: bold;
    }

    #drawer.open {
        transform: translate(0,0);
    }

    #drawer ul {
        list-style-type: none;
        padding: 0 16px;
    }

    #drawer li {
        padding: 5px 0px;
    }

    /* button humburger */
    #hamburger {
        /* top: 25px !important;
        margin: 15px !important; */
        padding: 10px;
        font-size: 32px;
        text-decoration: none;
        color: black;
    }

/* tutup navbar  */

/* large desktop  */
/* @media (min-width: 992px) and (max-width: 119.98px) { */
@media (min-width: 992px) and (max-width: 1119.98px) {
    html, body {
        color: blue;
    }
    
    .container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        /* grid-template-rows: 100px 100px; */
    }

    .img-herro {
        height: 90%;
    }
    
    /* navbar  */
    
    .logo-brand {
        font-weight: bold;
        margin-right: 30px;
        font-size: larger;
        text-decoration: underline !important;
    }
    
    #hamburger {
        display: none;
    }

    #drawer {
        width: 100%;
        height: 50px;
        position: fixed;
        transform: translate(0,0) !important;
        transition: none;
    }
    
    nav {
        padding: 15px;
        background-color: black;
    }

    .nav-list {
        width: 60%;
        padding: 0;
        margin: 0;
        text-align: left;
    }

    .nav-item {
        display: inline-block;
        text-align: right;
        line-height: 24px;
        text-transform: uppercase;
        text-decoration: none;
    }

    #drawer a{
        text-decoration: none;
        color: white;
    }
    /* tutup navbar  */

}
    

/* extra large device  */
@media (min-width: 1200px) {
    html, body {
        /* color: yellow; */
    }

    .container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        /* grid-template-rows: 100px 100px; */
    }

    .img-herro {
        height: 20% !important;
    }
    

    /* navbar  */
    .logo-brand {
        font-weight: bold;
        margin-right: 30px;
        font-size: larger;
        text-decoration: underline !important;
    }

    #hamburger {
        display: none;
    }
    
    nav {
        padding: 15px;
        background-color: black;
    }

    .nav-list {
        width: 60%;
        padding: 0;
        margin: 0;
        text-align: left;
    }

    .nav-item {
        display: inline-block;
        text-align: right;
        line-height: 24px;
        text-transform: uppercase;
        text-decoration: none;
    }

    #drawer a{
        text-decoration: none;
        color: white;
    }
    /* tutup navbar  */

}

