/* responsive apps by Tendy Rivaldo */

/* extra small size */
@media (max-width: 575.98px) {
    html, body {
        color: red;
    }

    .container {
        display: grid;
        padding: 5%;
        grid-template-columns: 1fr;
    }

    .img-fluid {
        width: 100%;
    }
}

/* small size  */
@media (min-width: 576px) and (max-width: 767.98px) {
    html, body {
        color: blue;
    }

    .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 5%;
    }

    .img-fluid {
        width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    html, body {
        color: yellow;
    }

    .img-fluid {
        width: 100%;
    }

    .container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 5%;
    }
}

